p {
  margin-top: 0;
  margin-bottom: 0;
}
body {
  margin: 0;

  padding: 80px 24px 0px 96px;
  background-color: rgb(248, 248, 248);
  font-family: Roboto, Arial;
}
 button img,
 div img
 {
  cursor: pointer;
}
